/* TODO */
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
    box-sizing: border-box;
}

/* TODO */

body {
    background-color: white;
}

/* .row div {
    background-color: lightgray;
    border: 1px solid gray;
    padding: 10px;
} */